
@{
    ViewBag.Title = "SGFD - Sistema de Gestão de faixa de Domínio";
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@ViewBag.Title</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Theme style -->
    <link href="~/Content/AdminLTE.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/plugins/sweetalert2.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/ionicons.min.css" rel="stylesheet" />
    <link href="~/Content/jquery-jvectormap.css" rel="stylesheet" />
    <link href="~/Content/AdminLTE.min.css" rel="stylesheet" />
    <link href="~/Content/skin-blue.min.css" rel="stylesheet" />
    <link href="~/Content/Base.css" rel="stylesheet" />
    <link href="~/Content/plugins/sweetalert2.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
</head>
<body class="hold-transition login-page">
    <form onsubmit="Login()">
        <div class="login-box">
            <div class="login-box-body">
                <div class="text-center">
                    <img src="~/img/logo_der.png" width="150" />
                </div>
                <div class="text-center">
                    <h3><b>SGFD</b></h3>
                    <h4 style="margin-top: -10px;">Sistema de Gestão de Faixas de Domínio</h4>
                    <br />
                </div>
                <div class="form-group has-feedback input-group">
                    <input type="text" id="usu_login" name="usu_login" class="form-control" placeholder="Usuário" ToolTip="Digite o Usuário" data-val="true" data-val-required="- digite o usuário." maxlength="10" required />
                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                </div>
                <div class="form-group has-feedback input-group">
                    <input type="password" id="usu_senha" name="usu_senha" class="form-control" placeholder="******" ToolTip="Digite a Senha" data-val="true" data-val-required="- digite a senha." required />
                    <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                </div>
                <div class="form-group" style="margin-right: 5px;margin-left: 3px;">
                    <div class="row">
                        <div class="col-xs-6 pull-left">
                            <div>
                                <a href="/Login/NovoUsuario">Não sou cadastrado</a>
                            </div>
                            <div>
                                <a href="" data-toggle="modal" data-target="#modalEsqueciSenha">Esqueci minha senha</a>
                            </div>
                            <div class="checkbox icheck">
                                <b>Versão 1.0.10</b>
                            </div>
                        </div>
                        <div class="col-xs-6 pull-right">
                            <button type="submit" id="btnLogin" class="btn btn-primary btn-block btn-flat"><i class="fa fa-sign-in"></i> Entrar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <div class="modal fade" id="modalEsqueciSenha" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content" style="margin-left:150px; width:550px;">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h3 class="modal-title text-center" id="mySpanArrematante"><b>Alterar Senha</b></h3>
                </div>
                <form id="Email">
                    <br />
                    <div class="modal-body form-group">
                        <div class="row">
                            <div class="col-md-offset-3">
                                <label>Email</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-md-offset-3 form-group has-feedback input-group">
                                <input type="email" name="email" id="emailText" class="form-control" data-val="true" />
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="col-md-3 col-md-offset-4">
                            <button type="button" onclick="EsqueciMinhaSenha(event);" class="btn btn-primary btn-block btn-flat">Alterar Senha</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script src="~/Content/js/jquery-3.4.1.min.js"></script>
    <script src="~/Content/js/bootstrap.min.js"></script>
    <script src="~/Content/js/fastclick.js"></script>
    <script src="~/Content/js/adminlte.min.js"></script>
    <script src="~/Content/js/jquery.sparkline.min.js"></script>
    <script src="~/Content/js/jquery.slimscroll.min.js"></script>
    <script src="~/Content/plugins/jquery.mask.js"></script>
    <script src="~/Content/plugins/sweetalert2.min.js"></script>
    <script src="~/Content/DataTables/datatables.js"></script>
    <script src="~/Content/DataTables/helperDataTable.js"></script>
    <script src="~/Scripts/Base.js"></script>
    <script src="~/Scripts/Service.js"></script>
    <script src="~/Scripts/Login/main.js"></script>
    <script>
        function EsqueciMinhaSenha(event) {
            event.preventDefault();
            var email = $('#emailText').val()
            if (email != "") {
                var request = POST("/Login/EsqueciMinhaSenha", JSON.stringify({ email: email }));
                if (request.status == true) {
                    swal({
                        title: 'Sucesso',
                        type: 'success',
                        text: 'Verique seu e-mail, enviamos um link para alteração de senha!'
                    }).then(() => {
                        $('#modalEsqueciSenha').modal('hide')

                        $('#emailText').val('')

                    });
                }
                else {
                    var mensagem = request.mensagem == null ? "Ocorreu um erro na solicitação" : request.mensagem;
                    swal({
                        title: 'Occoreu um erro',
                        type: 'error',
                        text: mensagem
                    }).then((result) => {
                        if (result.value)
                            $('#modalEsqueciSenha').modal('hide')

                        $('#emailText').val('')
                    });
                }
            }
            else {
                swal({
                    title: 'Atenção',
                    type: 'warning',
                    text: 'Digite seu email'
                })
            }
        }
    </script>
</body>
</html>
