@{
    ViewBag.Title = "SGFD - Sistema de gestão de faixa de domínio";

}
<section class="content">
    <section class="content-header">
        <h1>Home Page</h1>
    </section>
    <section class="jumbotron">
        <div class="container">

        </div>
    </section>
</section>