@model DER.WebApp.ViewModels.GestaoOcupacoes.GestaoOcupacoesViewModel
@{
    ViewBag.Title = "SGFD - Cadastro de Ocupações";

}

<div class="tab-pane fade active in" id="gestao-cancelamento@{@ViewBag.idInterno}" role="tabpanel" aria-labelledby="gestao-cancelamento-tab@{@ViewBag.idInterno}">
    <div class="col-md-8">
        <label class="col-form-label">Motivo</label>
        @Html.EditorFor(Model => Model.Cancelamento.MotivoCancelamento, new { htmlAttributes = new { @class = "form-control", @data_input = "", @maxlength = 250 } })
        @Html.ValidationMessageFor(m => m.Cancelamento.MotivoCancelamento, "", new { @class = "text-danger" })
    </div>
</div>